@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron">
        <h1 class="display-4">Datenerfassung kann gestartet werden.</h1>
    </div>


    <div class="btn-group" role="group" aria-label="Basic example">
        <a type="button" asp-action="InputForm" class="btn btn-outline-primary btn-lg ml-3">Piraten erfassen</a>
        <a type="button" asp-controller="Schiff" asp-action="SchiffeForm" class="btn btn-outline-primary btn-lg ml-3">Schiffe erfassen</a>
        
        @if(@ViewBag.ShowAll == "filled")
        {
            <a type="button" asp-controller="Pirat" asp-action="ShowAll" class="btn btn-outline-primary btn-lg ml-3">Übersicht</a>
        }
        
    </div>

